<h1>Sign up as caterer</h1>
<div class = "red">
<% if @caterer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@caterer.errors.count, "error") %>
      prohibited this user:
    </h2>

    <ul>
    <% @caterer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>
<br>

<%= form_for @caterer do |f| %>
<p>
  <%= f.label :username %>:
  <%= f.text_field :username %>
  </p>
<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation, "Confirm password" %>:
  <%= f.password_field :password_confirmation %>
</p>

<p>
<%= f.submit "Sign in" %>
</p>

<% end %>

<%=link_to "Back", new_user_path %>