<h1>New comment</h1>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "error") %>
      prohibited this comment:
    </h2>

    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for ([@recipe, @comment]) do |f| %>

<p>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "ex. Bob Smith"%>
</p>
<p>
<%= f.label :content %>
<%= f.text_area :content, placeholder: "ex. Great recipe!"%>
</p>
<p>
<%= f.label :ratings %>
<%= f.text_field :ratings, placeholder: "1(worst)-5(best)"%>
</p>

<%= f.submit %>


<% end %>
