<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
<div>
    <p>
    <%= recipe.name %>
    </p>
    <p>
    <%= recipe.approximate_time %> minutes
    </p>
    <p>
    Posted by: <%= recipe.creator %>
  </p><%= link_to "edit", edit_recipe_path(recipe) %>
  <%= link_to "delete", recipe, :method => :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "more info", recipe_path(recipe) %><br>
    <%# star ratings, optional picture %>
</div>
<%end %>
<br>
<br>
<%= link_to "Add your own recipe", new_recipe_path %>
