<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
<div>
    <p>
    <%= recipe.name %>
    </p>
    <p>
    <%= recipe.approximate_time %> minutes
    </p>
    <p>
    Posted by: <%= recipe.creator %>
  </p><%= link_to "edit", edit_recipe_path(recipe) %><br>
    <%# star ratings, optional picture %>
</div>
<%end %>
<%= link_to "Add a new recipe", new_recipe_path %>
