<nav>
<div id="head">
  <ul id="empty">
    <li class = "title horizontal" id = "left">
    <strong>All recipes</strong>
    </li>
    <li class = "horizontal" id ="right">
    <%= link_to "Log in", login_path %></li><br>
    <li class = "horizontal" id ="right">
    <%= link_to "Sign up", new_user_path %></</li>
  </ul>
<div>
</nav>
<br>

<hr>


<p class="red">
  <%= @say_hi if @current_user%>
  <%= @current_user.username if @current_user %>
</p>
<p class="red">
<%= @message if @message %>
</p>
<hr>

<% @recipes.each do |recipe| %>
<div class="structured">
    <p class= "name">
    <%= recipe.name %>
    </p>
    <p class = "small">
    <%= recipe.approximate_time %> minutes
    </p>
    <p class = "small">
    Posted by: <%= recipe.creator %>
  </p><%= link_to "Edit", edit_recipe_path(recipe) %>
  <%= link_to "Delete", recipe, :method => :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "More Info", recipe_path(recipe) %><br>
    <%# star ratings, optional picture %>
</div>
<%end %>

<br>
<br>
<hr>

<%= link_to "Add your own recipe", new_recipe_path %>
<br>
<br>

<div >
  <%= link_to 'Logout', logout_path %>
</div>
