<h1>A New Recipe</h1>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this recipe:
    </h2>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @recipe do |f| %>

<p>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Your recipe"%>
</p>

<p>
<%= f.label :creator %>
<%= f.text_field :creator, placeholder: "Your name."%>
</p>

<p>
<%= f.label :notes %>
<%= f.text_area :notes, placeholder: "Any messages/summary you want to say"%>
</p>

<p>
<%= f.label :special_tools %>
<%= f.text_field :special_tools, placeholder: "Any equipment needed"%>
</p>

<p>
<%= f.label :approximate_time %>
<%= f.text_field :approximate_time, placeholder: " Time in minutes."%>
</p>

<p>
<%= f.label :ingredients %>
<%= f.text_area :ingredients, placeholder: "List ingredients"%>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
