  <div class="center big">
    <h1><%= @recipe.name %></h1><br>
  </div>

  <div class="center">
    <%= @recipe.approximate_time %><span> minutes to complete</span><br>
    <%= @recipe.created_at.strftime("Posted at: %B %d, %Y") %>-<%= @recipe.creator %>
    <br>

  </div>

<br>
<div class="center about brown">
  Summary: <%= @recipe.notes %><br>
  Tools: <%= @recipe.special_tools %><br>
  Ingredients: <%= @recipe.ingredients %><br>
</div>

<div class="center">
  <h3>Ratings: <%=@sum%>
  out 5 &#9733;</h3>
</div>


<br>
<br>
<h3>Comments</h3>
<div class="salmander">
    <% @recipe.comments.each do |comment| %>
    <p>
      <strong><%= comment.content %></strong><br>
      &nbsp;
      &nbsp;
       - <%= comment.name %>
    </p>
  <% end %>
</div>
<%= link_to "Add comment", new_recipe_comment_path(@recipe) %>

<div class="">
  <br>
  <br>
<%= link_to 'Back', recipes_path %>
</div>

<div class="">
  <%= link_to 'Logout', logout_path %>
</div>
