<div class="">
  <h1>The recipe</h1>
</div>

<div class="">
  <%= @recipe.name %><br>
  <%= @recipe.creator %><br>
  <%= @recipe.notes %><br>
  <%= @recipe.special_tools %><br>
  <%= @recipe.approximate_time %><br>
  <%= @recipe.ingredients %><br>
  <%= @recipe.created_at.strftime("Created at: %B %d, %Y") %><br>
</div>
<br>
<br>
<h2>Comments</h2>
<div class="">

</div>
<%= link_to "Add comment", new_recipe_comment_path(@recipe) %>
<div class="">
  <br>
  <br>
  <%= link_to 'Back', recipes_path %>
</div>
