<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
  <p>Created by: Richard Chang</p>
  <p>Contact information: <a href="mailto:rchang9999@yahoo.com">rchang9999@yahoo.com</a>.</p>
</footer>
  </body>
</html>
